body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url(1alN.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  transition: 1s ease-in-out;
}
body.pause-animation {
  animation-play-state: paused;
}
h1 {
  font-family: "Star Wars", sans-serif;
  font-size: 50px;
  color: black;
  margin-bottom: 5px;
  border: 1px solid yellow;
  border-radius: 5px;
  margin: 0;
  padding: 35px;
  padding-bottom: 10px;
  padding-right: 20px;
  line-height: 0.5;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  transition: 1s ease-in-out;
  text-shadow: 0 0 2px yellow, 0 0 2px yellow, 00 2px yellow;
}
h1 span:first-child {
  position: relative;
  top: -0.3em;
  padding: 0px;
  margin-bottom: 0.1em;
}
h1 span:last-child {
  display: block;
}
h2 {
  text-align: center;
  border-bottom: 1px solid powderblue;
}
.search-bar {
  background-color: rgba(0, 0, 255, 0);
  padding: 10px;
  width: auto;
  margin-bottom: 10px;
  margin-top: 30px;
}
.search-bar input[type="text"] {
  background-color: rgba(255, 255, 255, 0.178);
  padding: 5px;
  border-radius: 5px;
  border: 1px solid powderblue;
  color: white;
  width: 20vw;
}
.search-bar button {
  background-color: rgba(255, 255, 255, 0.178);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid powderblue;
  color: powderblue;
}
.search-bar button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.search-type {
  background-color: rgba(255, 255, 255, 0.178);
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid powderblue;
  color: powderblue;
}

.big-container {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s ease-in-out;
}
.info-panel {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  border: 3px solid yellow;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(5px);
  transition: 1s ease-in-out;
  box-shadow: 0px 0px 20px powderblue;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.info-panel.show {
  opacity: 1;
}

.character-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 60vw;
  margin-top: 20px;
  order: 2;
  font-size: large;
  color: white;
}

.image-box {
  width: 350px;
  height: 450px;
  margin-right: 5vw;
  margin-top: 10px;
  order: 1;
  border-radius: 5px;
  border: 1px solid powderblue;
}

.character-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wookieepedia-btn {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.075);
  color: white;
  border: 1px solid powderblue;
  cursor: pointer;
}
.wookieepedia-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
